<center>
<div class="container contentmargin">
<div class="row">

  <div class="col-md-3">
  </div>


<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">NEW PRODUCT</h3>
  </div>
  <div class="panel-body">

<%= render 'form', product: @product %>

<%= link_to 'Back', products_path %>

<!-- panel body -->
</div>

<!-- panel -->
</div>

<!-- col -->
</div>

<div class="col-md-3">
  </div>

<!-- row -->
</div>
<!-- container -->
</div>
</center>